


.ja{
	background-color: black;
	color: white;
	height: 40px;
	width: 800px;
	text-align: center;
	font: italic;
}
.active{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: orange;
	height: 40px;
	width: 800px;
}
.ree{
	float: left;
}
.ree a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
ree a:hover:not(.active){
	background-color: pink;

}
.active{
	background-color: skyblue;

}
.z{
	background-color: black;
	color: white;
	height: 40px;
	width: 400px;
	text-align: center;
	font: italic;
	position: center;

}
b.p{
	image position: right top;
	image border: black 50px;
}

d.p{
	image position: right top;

}
.z{
	background-color: black;
	color: white;
	height: 40px;
	width: 400px;
	text-align: center;
	font: italic;
	position: center;

}
.ci{
	background-image: url("https://c1.wallpaperflare.com/preview/653/702/399/rose-flower-flowers-red-rose.jpg");
	background-repeat: no-repeat;
	height: 40px
	width:100px; 
}
h2.s{
	color: white;
}
h2.t{
	color: white;
}
h3.me{
	color: orange;
}
h3.nn{
	color: yellow;
}
.z{
	background-color: black;
	color: white;
	height: 40px;
	width: 400px;
	text-align: center;
	font: italic;
	position: center;

}

.act{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: orange;
	height: 40px;
	width: 800px;
}
.ac{
	float: left;
}
.ac{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.act{
	background-color: orange;

}
.z{
	background-color: black;
	color: white;
	height: 40px;
	width: 400px;
	text-align: center;
	font: italic;
	position: center;

}

.ra{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: 
	background-size: cover;
	background-position: center;


}
.order{
	width: 700px;
	box-shadow: 0 0 40px rgba(0,0,0,0.3);
	background:yellow;
	padding: 10px;
	margin: 10% auto 0;
	text-align: center;
}
.de{
	color: blue;
	margin-bottom:30px; 


}
.input{
	border-radius: 20px;
	padding: 10px;
	margin: 10px 0;
	width: 60%;
	border:5px solid black;
	outline: none;
}
.se{
	border-radius: 20px;
	padding: 10px;
	margin: 10px 0;
	width: 40%;
	border:5px solid black;
	outline: none;
}
.z{
	background-color: black;
	color: white;
	height: 40px;
	width: 400px;
	text-align: center;
	font: italic;
	position: center;

}





